{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString()
        }

        

    </script>
    <style>hidden{display:none}</style>
            <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block title %}
    Comprehension Questions
{% endblock %}

{% block content %}
    
    <input type="hidden" name="time_Comprehension" id="arrive_time"/>
    {% formfields %}

    {% next_button %}

{% endblock %}
