{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Thank you
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <input type="hidden" name="time_PerformancePayment" id="arrive_time"/>
            <p>

                <!--In part 1,  you attempted {{ b1_attempted }} {{ b1_problems }} and got {{ b1_score }} questions correct. <BR><BR>
                Each correct question earned you 5 cents. As a result, your incremental earnings from part 1 is {{ b1_earnings }}.<BR><BR><BR>
-->
                In the competition, you attempted  {{ g1_attempted }} {{ g1_problems }} and got {{ g1_score }} questions correct. <BR><BR>
                Each correct question earned you 5 cents. As a result, your incremental earnings from part 1 is {{ g1_earnings }}.<BR><BR>
                You ranked {{ g1_rank }} out of 3 players. As a result, your bonus from the competition is {{ g1_bonus }}.<BR><BR>
                In total, with your participation payment, you will be paid {{ total_bonus }}.


            </p>
        </body>
    </html>

    {% next_button %}
{% endblock %}


