{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    What Happens Next
{% endblock %}

{% block scripts %}
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}

    <!DOCTYPE html>
    <html>
        <body>
            <p>
                Before you compete against two other people, we give you a choice. 
                <br><br>
                You may choose to compete in an environment where the past performance of each of the three players is shown to all players before they start the competition. We refer to this environment as Firm A.
                <br><br>
                Alternatively, you may choose to compete in an environment where the past performance players is not known by any of the players. We refer to this environment as Firm B.
                <br><br>
                Your opponents will be randomly assigned to the firm you choose. In other words, they will not make a choice between Firm A and Firm B.
                <br><br>
                Summary: If you join the competition in Firm A, you and your opponents will be able to see each others’ scores from Part 1. If you join the competition in Firm B, you will not know the Part 1 scores of your opponents matched with you to compete in this part. Likewise, your opponents will only know their own scores and no one else’s.
                <br><br>
                Please think carefully about each environment, and how it might affect your performance. Before you make a choice, we will ask you some comprehension questions. When you feel confident that you understood these instructions, please proceed.
                <br><br>
            </p>

                    
            <br>
            <p>
                If you do not click next within 2 minutes, you will not be allowed to participate in the remainder of the study.
            </p>

        </body>
    </html>

    <div id="next">
        <button class="btn btn-primary btn-large next-button" style="float: right;">Next</button>
    </div>

    </script>

{% endblock %}

{% comment %}
 
{% endcomment %}
