{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions (Part 2)
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        window.onload = function () 
        {
            document.getElementById("arrive_time").value = (new Date()).toISOString();
        }
    </script>
{% endblock %}

{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    
    <!DOCTYPE html>
    <html>
        <body>
            <input type="hidden" name="time_Instructions" id="arrive_time"/>


            </p>
        </body>
    </html>

    {% next_button %}
{% endblock %}


